<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Showing Tagged Locations
        link(rel="stylesheet",  href="/mystyling.css")
        block style
    body
        header
            nav
                ul
                    li 
                        a(href="/api/v1/geotags/" , class=(path==="/api/v1/geotags/" ? 'active' : '')) Tag Location
                    li
                        a(href="/api/v1/showTaggedLocation/", class=(path==='/api/v1/showTaggedLocation/' ? 'active' : '') ) Show Tagged Locations

        main
            block content