<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width , initital-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content= "ie=edge">
    <title>Geo Tagging</title>
    <link rel="stylesheet" href="/mystyling.css">

</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/api/v1/geotags/">Tag Location</a>
                </li>
                <li>
                    <a href="/api/v1/showTaggedLocation/">Show Tagged Locations</a>
                </li>

            </ul>
        </nav>
    </header>
    <div >   
        <form action="/api/v1/geotags/" method="POST">
    <input type="text" name="latitude" id=""><br>
    <input type="text" name="longitude" id=""><br>
    <button type="submit">Tag Locations</button>
    </form>
</div>
 
</body>
</html>