extends layouts/main-layout.pug

block content
            .div
                form(action="/api/v1/geotags/", method="POST")
                    input(type="text",name="latitude") 
                    br
                    input(type="text" name="longitude")
                    br
                    button(type="submit") Tag Locations